export PATH="/usr/local/sbin:$PATH"
export PATH="/usr/local/opt/gnu-sed/libexec/gnubin:$PATH"
export PATH="/usr/local/opt/grep/libexec/gnubin:$PATH"
export PATH="/usr/local/opt/sqlite/bin:$PATH"
export PATH="/usr/local/opt/gettext/bin:$PATH"

# Make vim the default editor
export EDITOR="vim"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# timestamps for later analysis. www.debian-administration.org/users/rossen/weblog/1
export HISTTIMEFORMAT='%F %T '

# Larger bash history (allow 32³ entries; default is 500)
export HISTCONTROL=ignoredups:erasedups         # no duplicate entries
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
which shopt > /dev/null && shopt -s histappend  # append to history, don't overwrite it

export HOMEBREW_CASK_OPTS="--appdir=/Applications"

# here's LS_COLORS
# github.com/trapd00r/LS_COLORS
system_type=$(uname -s)
if [ "$system_type" = "Darwin" ]; then
    command -v gdircolors >/dev/null 2>&1 || alias gdircolors="dircolors"
    eval "$(gdircolors -b ${HOME}/.dircolors)"
else
    eval "$(dircolors -b ${HOME}/.dircolors)"
fi;

# eval "$(gulp --completion=bash)";
